COHERE_API_KEY=
COHERE_EMBED_MODEL=embed-english-v3.0
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=humanoid-textbook-content
GEMINI_API_KEY=
GEMINI_MODEL=llama-3.3-70b-versatile
BASE_URL=https://api.groq.com/openai/v1
BACKEND_PORT=8000
